$primary: $blue;

$info   : $cyan;
$success: $green;
$warning: $orange;
$danger : $red;

$light  : $white-ter;
$dark   : $grey-darker;

// General colors

$scheme-main       : $white;
$scheme-main-bis   : $white-bis;
$scheme-main-ter   : $white-ter;
$scheme-invert     : $black;
$scheme-invert-bis : $black-bis;
$scheme-invert-ter : $black-ter;

$background        : $white-ter;

$border            : $grey-lighter;
$border-hover      : $grey-light;
$border-light      : $grey-lightest;
$border-light-hover: $grey-light;

// Text colors

$text       : $grey-dark;
$text-light : $grey;
$text-strong: $grey-darker;

// Code colors

$code           : $red;
$code-background: $background;

$pre            : $text;
$pre-background : $background;

// Link colors

$link              : $blue;
$link-visited      : $purple;

$link-hover        : $grey-darker;
$link-hover-border : $grey-light;

$link-focus        : $grey-darker;
$link-focus-border : $blue;

$link-active       : $grey-darker;
$link-active-border: $grey-dark;

// Typography

$family-primary  : $family-sans-serif;
$family-secondary: $family-sans-serif-second;
$family-code     : $family-monospace;

$size-small : $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large : $size-4;

// Lists and maps
$custom-colors: null;
$custom-shades: null;

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7;
